@font-face
{
    font-family: gobold;
    src: url("../fonts/GoboldThin.ttf");
}

@font-face
{
    font-family: xoxo;
    src: url("../fonts/xoxo.ttf");
}

*
{
    margin: 0;
    font-family: gobold;
}

a, a:visited, a:hover, a:focus { text-decoration: none; }

ul
{
    list-style-type: none;
}

h3 
{
    font-family: xoxo;
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    margin: 0 0 30px 0;
}

h5 
{
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    margin: 10px 0;
}

p 
{
    text-align: center; 
    font-size: 15px;
}

.clear
{
    clear: both;
}

.primary
{
    background-color: white;
    font-size: 14px;
    color: #9BA29A;
}

.primary p, .primary h3, .primary a:visited, .primary a:hover, .secondary a:focus
{
    color: #ADC2AA;
}

.secondary
{
    background-color: #ADC2AA;
    color: white;
}

.secondary a:visited, .secondary a:hover, .secondary a:focus 
{
    color: white;
}

.section
{
    padding: 30px 0;
}

.content-width
{
    width: 850px; 
    margin: auto;
    font-size: 15px;
    line-height: 27px;
}

.float-50
{
    float: left;
    width: 50%;
    text-align: center;
}

.dotted
{
    border-top:1px dotted white; 
    width: 300px; 
    height: 1px; 
    margin: 10px auto;
}

/* stars */

.star
{
    width: 15px;
    height: 16px;
    margin-top: 3px;
    background-repeat: no-repeat;
}

.green-star
{
    margin-top: 6px;
    background-image: url("../images/Stars_green_light.png");
}

.white-star
{
    background-image: url("../images/Stars_white.png");
}

.know-more, .download-my-cv
{
    margin: auto; 
    width: 150px;
    padding-top: 20px;
}

.download-my-cv
{
    width: 178px;
}

.know-more p, .know-more a
{
    float: left;
    margin: 0 10px;
    text-decoration: none;    
}

.know-more span
{
    float: left;
}

/* navigation */
nav a
{
    float: left;
    color: #9BA29A;
}

nav div
{
    float: left;
}

nav ul li
{
    float: left;
    text-decoration: none;
    margin: 0 20px;
}

.logo
{
    background-image: url("../images/logo.png");
    width: 372px;
    height: 132px;
    display: block;
}

/* who am I */

.qualities 
{
    background-image: url("../images/Adjectifs.png");
    background-repeat: no-repeat;
    width: 217px;
    height: 156px;
    margin: auto;
}

/* My services */


.services-block
{
    float: left;
    width: 50%;
}

.services-block p
{
    width: 50%;
    margin: auto;
}

.services-block .communication
{
    width: 98px;
    height: 98px;
    margin: auto;
    background-image: url("../images/Communication.png");
}

.services-block .creation
{
    width: 98px;
    height: 98px;
    margin: auto;
    background-image: url("../images/Creation.png");
}

.visual-identity
{
    width: 119px;
    height: 65px;
    margin: auto;
    background-image: url("../images/Identite_visuelle.png");
}

.edition-graphism
{
    width: 96px;
    height: 82px;
    margin: auto;
    background-image: url("../images/Imprimante.png");
}

.web-design
{
    width: 120px;
    height: 89px;
    margin: auto;
    background-image: url("../images/Pc.png");
}

.mywork
{
    background-image: url("../images/Mesrealisations.png");
    width: 288px;
    height: 60px;
    margin: auto;
}

.contact label, input
{
    display: block;
    width: 100%;
    margin: 10px 0;
}

.contact input
{
    height: 40px;
    border: white;
}

.portfolio span
{
    width: 250px;
    height: 250px;
    display: block;
    float:left;
    margin: 16px;
}

.footer-block p 
{
    color: #9BA29A;
}

.footer-block
{
    width: 50%;
    float: left;
    padding-bottom: 100px;
}

.footer-block a
{
    width: 64px;
    height: 64px;
    margin: auto;
    display: block;
}
.footer-block li
{
    float: left;
}
.footer-block .contact
{
    background-image: url("../images/Mail.png");
}

.footer-block .instagram
{
    background-image: url("../images/Instagram.png")
}

.footer-block .pinterest
{
    background-image: url("../images/Pinterest.png")
}
.footer-block .hopwork
{
    background-image: url("../images/Hopwork.png")
}


/* Presentation*/
.certificate
{
    height: 82px;
    width: 82px;
    margin: auto;
    background-image: url("../images/Diplomes.png");
}

.skills
{
    height: 82px;
    width: 82px;
    margin: auto;
    background-image: url("../images/Competences.png");
}

.interests
{
    height: 82px;
    width: 82px;
    margin: auto;
    background-image: url("../images/Centre-interets.png");
}

.experiences
{
    height: 82px;
    width: 82px;
    margin: auto;
    background-image: url("../images/Experience.png");
}

input[type=submit]
{
    border: none;
    background: none;
    color: white;
    text-align: right;
    float: right;
    width: 200px;
    font-size: 24px;
}