<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="assets/css/default.css" rel="stylesheet" media="all" type="text/css"> 
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script
    </head>
    <body>
        <header class="primary section">
            <nav class="content-width" style="width:1050px; margin: auto">
                <ul>
                    <li>
                        <a href="{{ site.baseurl }}/presentation.html">presentation</a>
                    </li>
                    <li>
                        <div class="green-star star">&nbsp;</div>                        
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/services.html">services</a>
                    </li>
                    <li>
                        <a href="/" class="logo">&nbsp;</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/realisations.html">realisations</a>
                    </li>
                    <li>
                        <div class="green-star star">&nbsp;</div>                        
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/contact.html">contact</a>
                   </li>
                </ul>
            </nav>
            <div class="clear"></div>
        </header>
        
        {{ content }}

        <footer class="primary section">
            <div class="content-width">
                <div class="footer-block">
                    <a href="{{ site.baseurl }}/contact.html" class="contact">&nbsp;</a>
                    <div class="clear"></div>
                    <p>Contacter-Moi</p>
                </div>
                <div class="footer-block">
                    <ul class="socials" style="width: 220px; margin: auto">
                        <li><a href="#" class="instagram">&nbsp;</a></li>
                        <li><a href="#" class="pinterest">&nbsp;</a></li>
                        <li><a href="#" class="hopwork">&nbsp;</a></li>
                    </ul>
                    <div class="clear"></div>
                    <p>Retrouvez-Moi</p>
                </div>
            </div>
        </footer>
    </body>
</html>
